<html ng-app="tat" ng-controller="NavigationController as ctrl">
<head>
    <base href="/"/>
    <title>There is a thing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- bower:css -->


    <link rel="stylesheet" href="/lib/angular-material/angular-material.css">


    <link rel="stylesheet" href="/lib/angular-material/themes/amber-theme.css">


    <link rel="stylesheet" href="/lib/angular-material/themes/deep-orange-theme.css">


    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css">


    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">


    <!-- endinject -->
    <!-- app:css -->
    <link rel="stylesheet" href="/css/Site.css">
    <!-- endinject -->
</head>
<body layout="horizontal" ng-cloak="" ng-controller="NavigationController as ctrl">


<md-sidenav layout="vertical" class="md-sidenav-left md-whiteframe-z2" component-id="left"
            is-locked-open="$media('sm')">
    <md-toolbar md-theme="amber">
        <h2 class="md-toolbar-tools">There Is A Thing</h2>
    </md-toolbar>
    <md-content class="md-padding">
        <md-button ng-repeat="item in ctrl.menus" class="menu-item menu-sub-item"
                   ng-class="{active: item.active}" ui-sref="{{item.state}}" ink-ripple="">{{item.name}}
        </md-button>
        <br/>
        {{ctrl.state}}
    </md-content>
</md-sidenav>

<div layout="vertical" layout-fill tabIndex="-1" role="main" md-theme="deep-orange">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <a class="menu-icon" hide-sm aria-label="Toggle Menu" ng-click="ctrl.showSideBar()">
                <i class="fa fa-bars"></i>
            </a>

            <h2 class="md-toolbar-tools">{{ctrl.data.title}}</h2>
        </div>
    </md-toolbar>
    <ui-view>Will be filled</ui-view>
</div>


<!-- bower:js -->
<script src="/lib/hammerjs/hammer.js"></script>
<script src="/lib/angular/angular.js"></script>
<script src="/lib/angular-animate/angular-animate.js"></script>
<script src="/lib/angular-aria/angular-aria.js"></script>
<script src="/lib/angular-material/angular-material.js"></script>
<script src="/lib/angular-messages/angular-messages.js"></script>
<script src="/lib/angular-resource/angular-resource.js"></script>
<script src="/lib/angular-ui-router/angular-ui-router.js"></script>
<script src="/lib/lodash/lodash.compat.js"></script>
<!-- endinject -->
<!-- app:js -->

<script src="/app/js/Configuration.js"></script>

<script src="/app/modules/home/home.js"></script>

<script src="/app/modules/shared/Shared.js"></script>

<script src="/app/modules/speakers/speakers.js"></script>

<script src="/app/app.js"></script>

<!-- endinject -->

</body>
</html>